/* task 05.css */
body {background-attachment: C:\Users\yalam\Downloads\BACKGROUND.jpg;
    font-family: ALGERIAN, sans-serif;
    background color: whitesmoke;
    margin: 3;
    padding: 6;
    
}

header { font-size: xx-large;
    background-color:rgb(8, 139, 221);
    color: #darkgrey;
    padding: 100px;
    text-align: center;
    background-image: C:\Users\yalam\Downloads\BACKGROUND.jpg;
}

nav ul { font-style: courier new;
    font-color: rgb(2, 62, 7);
    font-size: larger;
    padding: 60px;
    text-align: center;
}
    


nav li {
    font-size: larger;
}

nav a { font: monospace;
    text-decoration:color;
    color: darkviolet;
}

section {
    padding: 20px;
}

.album {
    text-align: center;
    margin-bottom: 20px;
}

.album img {
    max-width: 100%;
}

footer {
    background-color: #darkgrey;
    color: #chocolate;
    text-align: center;
    padding : 10px;
}


